<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.etralab.appstoreforandroid" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@android:style/Theme.DeviceDefault" android:usesCleartextTraffic="true">
        <activity android:label="@string/app_name" android:launchMode="standard" android:name="com.etralab.appstoreforandroid.MainActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.CheckUpdateActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.CheckedUpdateActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.SearchResultActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.SearchActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.HelpForChooseApkInstallMethodActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.InstallApkActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:label="@string/app_name" android:name="com.etralab.appstoreforandroid.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.etralab.appstoreforandroid.ClassificationActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.ScreenshotActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.RestartMainActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.NoticeActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.SupportUsWithAlipayActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.SupportUsWithWechatActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.SupportUsActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.ConnectCheckActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.DeveloperOptionActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.HelpActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.ClearDataActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.AboutActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.SettingsActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.AppActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.DeveloperAppActivity" android:theme="@style/ActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.PermissionActivity" android:theme="@style/DisableActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.UserAgreementActivity" android:theme="@style/DisableActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.WarmHintActivity" android:theme="@style/DisableActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.NameChangeHintActivity" android:theme="@style/DisableActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.ChooseAppInstallMethodActivity" android:theme="@style/DisableActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.ChooseLayoutActivity" android:theme="@style/DisableActivitySwipeToDismissTheme"/>
        <activity android:name="com.etralab.appstoreforandroid.ForceUpdateActivity" android:theme="@style/DisableActivitySwipeToDismissTheme"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <provider android:authorities="com.etralab.appstoreforandroid.FileProvider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/rc_file_path"/>
        </provider>
    </application>
</manifest>